body {
    background-color: #888;
}

nav {
    background-color: #383838;
}

.nav-list a {
  padding: 0 0.5rem;
}

.nav-list a,
h2,
h3,
h6,
p,
a,
.line-through {
  color: rgb(136,136,136);
}

.nav-list a:hover {
  text-decoration: none;
}

.nav-list a:hover,
.title,
.make,
.price,
.carousel-arrow {
  color: #d35266; 
}

.btn {
  background-color: #d35266;
}

.btn:hover {
  background-color: #830c1e;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.main-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}

.background {
  background-color: #888;
  background: url(https://cdn4.vectorstock.com/i/1000x1000/15/03/musical-instruments-background-vector-5031503.jpg);
  width: 100%;
  height: 30rem;
}

.main-form {
    padding-top: 25rem;
}

.search-btn {
  padding: 0.7rem 0.5rem;
}

.carousel-section, 
.carousel-inner {
  width: 90%;
}

.carousel-item img {
    width: 25rem;
    height: 15rem;
}

.card img {
  height: 15rem;
}

.price {
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
}

.keyboard,
.percussion {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr ;
  grid-gap: 1rem;
}

.border-bottom {
  width: 97%;
}

.arrow {
  padding-top: 12rem;
}

.footer-logo {
    width: 2rem;
    height: 2rem;
}

.socials a {
    color: #888;
    font-size: 1.4rem;
    padding: 0 0.3rem;
    border: 0.05rem solid #888;
    border-radius: 3rem;
    background-color: #383838;
}

.socials a:first-child:hover {
  color: rgb(63,92,154);
}

.socials a:nth-child(2):hover {
  color: rgb(23,148,228);
}

.socials a:nth-child(3):hover {
  color: rgb(156,45,186);
}

.socials a:nth-child(4):hover {
  color: rgb(49,67,88);
}

.socials a:nth-child(5):hover {
  color: rgb(0,119,177);
}

.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  background-color: #383838;
}

.footer-bottom h2 {
  color: white;
}

.footer-bottom span,
.footer-bottom a,
.footer-bottom small,
.footer-list li {
  color: #888;
}

.footer-bottom a:hover {
  color: #d35266;
}

.footer-list {
  display: flex;
  background-color: #383838;
}

@media only screen and (max-width: 786px) {
  .footer-bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .keyboard,
  .percussion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .dropdown {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .first-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
